<footer class="row">
    <div class="mm">

        <div class="contact-us">
            <h2 class="brand">MATIAS-TORRES</h2>
            <p class="subtitulo">EXPERT IN CREATION OF DREAMS</p>
        </div>
        <div class="social-media">
            <a href="https://www.linkedin.com/in/diego-matias-torres-/"><img src="../../../assets/linkedin.png" class="social-media-icon" id="linkedin"></a>
          
          <a href="https://www.instagram.com/matiiias_torresok_/"><img src="../../../assets/instagram.png" class="social-media-icon" id="instagram"></a>
          
          <a href="https://github.com/matiiiastorres"><img src="../../../assets/github.png" class="social-media-icon" id="github"></a>
       
            
        </div>
        
    </div>
    <div class="line"></div>
    
</footer>