<div class="row">
    <h2 class="titulo">Proyectos realizados</h2>
    <div class="contenedor">
        <div>
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h1 class="nombre">CRIPTO-LIVE</h1>
                <p class="descripcion">"Hackathon Covalent"</p>
                 <p>   Camino a La Blockchain y La Web 3.0</p>
                <p> Utilice la A.P.I de Covalent para crear un sitio web que
                    te permite ver la cantidad de los distintos tokens
                    en billeteras virtuales.</p>
                <p>   Control de versiones: github.com/matiiiastorres/CRIPTO-LIVE</p>
            <p>   Lenguajes: HTML , CSS , Javascript</p>
        <p>  https://cripto-live.netlify.app
                </p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
               <a href=" https://cripto-live.netlify.app"> <img src="../../../assets/criptolive.png" class="img-fluid img-proyecto" ></a>
            </div>
        </div>
    </div>
</div>
