.row{
    padding: 65px;
    background-color: black;
    
}
div{
    background-color: #00000000;
    text-align: center;
  
}


/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    font-size: 60px;
    color: whitesmoke;
    position: absolute;
    width: 65%;
    left: 20%;
    top:280px;
}


.about-contentbox {
   
    text-align:left;
    line-height:1.8;
  
  }
  
  .titulo2 {
    font-size: 62px;
    color: grey;
   
   
  }

  .descripcion {
    font-size: 32px;
    margin-top: 35px;
   
   
  }





@keyframes changeColor {
	to {
		color: rgba(47, 255, 0, 0.468);
	}
}

span{
    color: #00000000;
}

h1 {
  margin: auto;
  font-size: 80px;
  
  
  text-transform: uppercase;
}

h1 span {
   animation: changeColor 3.2s ease-in-out infinite alternate;
}

h1 span:nth-child(1) {
  animation-delay: 0s;
}

h1 span:nth-child(2) {
  animation-delay: 0.1s;
}

h1 span:nth-child(3) {
  animation-delay: 0.2s;
}

h1 span:nth-child(4) {
  animation-delay: 0.3s;
}

h1 span:nth-child(5) {
  animation-delay: 0.4s;
}

/*Estilo de la foto de perfil*/
@media (min-width: 576px){
  #fotodeperfil{
      position: absolute;
      width: 35%;
      border-radius: 01%;
      left: 35%;
      top:305px;
  }
}
@media (max-width: 575px){
  #fotodeperfil{
      position: absolute;
      left: 2%;
      top:293px;
  }
  #nombre{
       font-size: 40px;
    position: absolute;
    width: 400px;
    left: 20px;
    top: 225px;
  }
  span{
    
    font-size: 40px;

  }
  .titulo2{
    text-align: center;
    font-size: 37px;
  }
  .about-contentbox{
    text-align:center;
    line-height:1.8;

  }
  .descripcion {
    font-size: 22px;
    margin-top: 35px;
   
   
  }

}