<div class="row">
    <div>
        <img src="../../../assets/mati1.png" class="img-fluid" id="fotodeperfil">
      </div>
    <div >
        <p class="nombreadmin" id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
       
    </div>
    <div class="about-contentbox">
        <div class="animate">
    
          <p class="titulo2">WEB DEVELOPER FULL SACK</p>
          <p class="descripcion">Soy Matias Torres diseñador web full stack. Vivo en Tucuman Argentina .Tengo 29 años y desde
            que empece el curso de Argentina Programa crecio mucho mi interes por la tecnologia.Mi objetivo es crear una
            APP que mejore la vida de muchas personas.Me especializo en HTML5, CSS3, JAVASCRIPT, REACT, ANGULAR.
            Me apasiona el diseño y la interacion Ux soy muy detallista.
          </p>
        </div>
      </div>
</div> 