<div class="row">
    <div class="containerNav">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        <div class="social-media">
            <a href="https://www.linkedin.com/in/diego-matias-torres-/"><img src="../../../assets/linkedin.png" class="social-media-icon" id="linkedin"></a>
          
          <a href="https://www.instagram.com/matiiias_torresok_/"><img src="../../../assets/instagram.png" class="social-media-icon" id="instagram"></a>
          
          <a href="https://github.com/matiiiastorres"><img src="../../../assets/github.png" class="social-media-icon" id="github"></a>
       
            
        </div>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
    </div>
</div>

